/* for inner scrollbar custom styling */
.table-responsive::-webkit-scrollbar
{
	height: 5px;
	background-color: #F5F5F5;
}
.table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.table-responsive::-webkit-scrollbar-thumb {
    background: #888;
}
